# --- Cấu hình chung cho Root Workspace ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
node_modules/
.env
.env.*
.dart_appdata/
.dart_localappdata/
__pycache__/
*.pyc
.agents/
.claude/
python-vision-api/venv/
